main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #775407 1.18%, #bb830a 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  /* white-space: pre; */
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #775407 30.14%, #17b2b8 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  width: 300px;
  max-width: 300px;
  height: 300px;
  margin: 0 auto;
}

.meme--image {
  width: 300px;
  border-radius: 3px;
  height: 300px;
  border: solid 2px;
}

.meme--text {
  /* position: relative; */
  text-align: center;
  padding: 0 5px;
  word-wrap: break-word;
  /* z-index: 2; */

  margin-top: 0.2em;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.fixed-container{
  width: 300px;
  height: 130px;
  overflow: hidden;
  /* border: 1px solid red; */
  position: relative;
  bottom: 305px;
  /* z-index: 1; */
}

.fixed-t{
  margin-bottom: 40px;
} 

